body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color: red;
}

.photos img {
    width: 100%;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.main {
    position: relative;
}

.container {
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.shade1 {
    height: 50px;
    background-color: #C2EFFF;
    transform: skewY(-12deg);
    margin: 0 20px;
}

.shade2 {
    height: 50px;
    background-color: #FDB1F1;
    transform: skewY(-12deg);
    margin: 0px 40px;
}

.shade3 {
    height: 50px;
    background-color: #F9CE4B;
    transform: skewY(-12deg);
    margin: 0px 60px;
}

.shade4 {
    height: 50px;
    background-color: #C8E9F8;
    transform: skewY(-12deg);
    margin: 0px 80px;
}

.title {
    display: block;
    font-size: 3rem;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    position: absolute;
    top: 30px;
    color: #444;
    width: 100%;
    text-align: center;
    text-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
}

.info {
    position: relative;
    display: block;
    padding: 20px;
    top: 100px;
    text-align: justify;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 80%;
}