body {
    margin: 0;
    font-family: sans-serif;
}

#app {
    padding: 10px;
    font-size: 1rem;
    overflow: hidden;
}

#countryList {
    margin: 0px;
    padding: 0px;
}

#countryList li {
    padding: 5px;
    margin: 5px;
    transition: all 0.5s ease-out;
    display: block;
    transform: scale(1, 1);
    color: black;
}

#countryList li:hover {
    background-color: #666;
    transform: scale(1.009);
    color: white;
    cursor: pointer;
}